html, body {
  margin: 10;
  padding: 0;
}

canvas {
  display: block;
}
h1 {
  font-size: 70px;
  padding-top: 10px;
  margin-left: 20px;
  text-align: left;
  color: #F5F2E7;
}

:root {
  --main-radius: 20px;
  --main-padding: 5px;
}


.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  padding: 30px;
  grid-gap: 2rem;
  font-weight: 800;
  font-size: 23px;
  color: #F5F2E7;
  text-align: center;
}

main {
  background: #2C3333; 
  border: 6px solid #2666CF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 0px #191d1d;
  text-align: left;
  transition: box-shadow 0.5s;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#sidebar {
  background: #2C3333; 
  border: 6px solid #2666CF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 0px #191d1d;
  text-align: center;
  transition: box-shadow 0.5s;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background: #2C3333; 
  border: 6px solid #2666CF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 0px #191d1d;
  text-align: center;
  transition: box-shadow 0.5s;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background: #2C3333; 
  border: 6px solid #2666CF;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px 0px #191d1d;
  text-align: center;
  transition: box-shadow 0.5s;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #2C3333; 
  border: 6px solid #2666CF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 0px #191d1d;
  text-align: center;
  transition: box-shadow 0.5s;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: #2C3333; 
  border: 6px solid #2666CF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 0px #191d1d;
  text-align: center;
  transition: box-shadow 0.5s;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  margin: 1rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 4fr 1.2fr 1.2fr 1.2fr 0.3fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

#sidebar:hover, #content1:hover, #content2:hover, #content3:hover, footer:hover, nav:hover, main:hover {
  box-shadow: 0px 0px 0px #2666CF;
}

nav {
  background: #2C3333; 
  border: 6px solid #2666CF;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 0px #191d1d;
  text-align: center;
  transition: box-shadow 0.5s;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #F5F2E7;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
}


nav {
  order: 1;
}

.nav__links a,
.overlay__content a {
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nav__links li {
  padding: 10px 20px;
  font-size: 20px;
}

.nav__links li:nth-child(1) {
  padding: 10 20px 0 0;
  font-size: 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgba(38, 102, 207,1);
}

.cta {
  order: 2;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: rgba(38, 102, 207,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  justify-content: flex-end;
  color: #F5F2E7;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(38, 102, 207,0.8);
}
.sidebar__links{
  list-style: none;
  text-align: left;
  margin: 1rem;
  border: 0px solid #2C3333; 
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.sidebar__links:hover{
  border: 6px solid #2666CF;
  font-size: 30px;
  padding-left: 10px;
  background-color: #191d1d;
}

.sidebar__-{
  list-style: none;
  text-align: left;
  margin: 1rem;
}